
body {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin: 5%;
}
 
header {
    width: 100%;
    background-color: black;
    text-align: center;
}

header label {
    color: white;
    font-size: 180%;
}

label, input {
    font-family: 'Courier New', Courier, monospace;
}
/* Contenedor de formulario */
#form-container {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

#form-container label {
    font-size: 90%;
    
}

#form-container label, input {
    width: 98%;
}

#form-container label, input, button{
    display:block;
}

button {
    margin-top: 5%;
}

/* Contenedor de informacion */
#inf-container {
    width: 30%;
    border: 3px solid rgb(142, 35, 150);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(202, 171, 232);
}

#inf-container label {
    font-size: 90%;
    display: block;
    height: 22px;
}

.textbox { /* labels con datos */
    border: 1px solid black;
    background-color: white;
    height: 20px;
}